@{
    ViewBag.Title = "Ocorreu um erro!";
}

<div class="jumbotron">
    <h1><i class="glyphicon glyphicon-flag"></i>   Ocorreu um erro (SEM CONTROLLER)!</h1>
    <p>A falha já foi registrada e será analisada em breve pela equipe de desenvolvimento. Por favor, clique no botão abaixo para voltar para a página inicial ou utilize o menu.</p>
    <p><a href="@Url.RouteUrl(new { controller = "Dashboard", action = "Index", category = "dashboard" })" class="btn btn-primary btn-lg" role="button">Página inicial</a></p>
</div>
